// COLORS
$color-black: #000;
$color-light-grey: #8c8c8c;
$color-grey: #515151;
$color-white: #fff;

// GRID
$grid-width-full: 90%;
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

// Fonts
$font-size-small: 1.5rem;
$font-size-medium: 2rem;

$font-size-standard: 2.2rem;

// Margins
