// Margins
$u-margin--tiny: 1.5rem;
$u-margin--small: 2rem;
$u-margin--medium: 4rem;
$u-margin--large: 6rem;

// Margin bottom utility classes
.u-margin-bottom-tiny {
  margin-bottom: 2rem;
}
.u-margin-bottom-small {
  margin-bottom: 4rem;
}

.u-margin-bottom-med {
  margin-bottom: 6rem;
}

.u-margin-bottom-lrg {
  margin-bottom: 8rem;
}

// Margin top utility classes

// themes

.theme-dark-background {
  background-color: #000;
}
